<plugin name='facebook-graph' version='0.4' grailsVersion='1.3.3 &gt; *'>
  <author>Jesus Lanchas</author>
  <authorEmail>jesus.lanchas@daureos.com</authorEmail>
  <title>Facebook graph plugin</title>
  <description>\
Access to the Facebook Graph API
</description>
  <documentation>http://grails.org/plugin/facebook-graph</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>FacebookGraphFilters</resource>
    <resource>UrlMappings</resource>
    <resource>com.daureos.facebook.FacebookGraphService</resource>
    <resource>com.daureos.facebook.FacebookGraphTagLib</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>